.container {
  margin: auto;
  max-width: 800px;
  font-family: "Times New Roman", Times, serif;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
}
.nav-link-item {
  padding-right: 2rem;
}

.active {
  color: lightsalmon !important;
  font-weight: bold;
  text-decoration: none;
}

.link {
  color: white;
  text-decoration: none;
}
